* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    max-height: auto;
}

img { 
    width: 100%;
    max-height: 100%;
}

h1 {
    margin: 0;
}

.header {
    width: 100vw;
    background-color: gold;
    padding: 20px;

}

.header-title {
    display: inline-block;
}

.other-links {
    float: right;
}


#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 100vw;
    padding: 20px;
}

.text {
    border: dotted 2px blue;
    padding: 20px;
    margin: 0;
}

.link {
    text-decoration: red underline;
    font-size:1rem;
    border:solid 2px red;
    padding: 20px;
}

.image {
    border: 1px solid blue
}

.media-iframe {
    width: 100%;
    height: 100%;
}