* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow', Arial, sans-serif;
    max-height: auto;
    height: 100%;
}


h1 {
    margin: 0;
}

iframe {
    border: 0;
}

canvas {
    position: absolute;    
    top: 0;
  }

a:visited {
    color:inherit
}

span {
  font-size: 25px;
  font-weight: bold;
  font-family: Wingdings;
  color: #1b53ee;
}


.header {
    width: 100vw;
    padding: 20px;
    position: sticky;
    top: 10px;
    z-index: 20;
}

.header-title {
    display: inline-block;
}

.header-title h1 {
    background-color: white;
    padding: 15px;
    border-radius: 0px;
    border: 1px solid black;
    font-weight: normal;
    font-size: 20px;
}

.other-links {
    float: right;
}

.other-links ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.other-links li {
    display: inline-block;
    background-color: white;
    border-radius: 0px;
    padding: 15px;
    color: #1b53ee;
    font-size: 25px;
    cursor: pointer;
    margin-left: 10px;
    border: 1px #1b53ee;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#container {
    max-width: 100vw;
    padding: 20px;
    display: grid;
    margin-top: 200px;
}

#info-container {
    width: 70vw;
    height: 80vh;
    background-color: #fff;
    position: fixed;
    border: 1px solid black;
    left: 50%;
    transform: translate(-50%, 0);
    top: 50%;
    margin-top: -35vh;
    padding: 30px;
    overflow: scroll;
    z-index: 20;
}

#info-container p {
    font-size: 32px;
    margin: 0;
}

#info-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    opacity: 0.2
}

.s-tiny {
    width: 20%;
}

.s-small {
    width: 33.3%;
}

.s-medium {
    width: 50%;
}

.s-large {
    width: 66.6%;
}

.ml-none {
    margin-left: 0;
}

.ml-small {
    margin-left: 10%;
} 

.ml-medium {
    margin-left: 33%; 
}

.ml-large {
    margin-left: 50%;
}

.block {
    grid-column: span 4;
    height: auto;
    margin-bottom: 100px;
}

img {
    width: 100%;
}

.text {
    padding: 100px 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 400px;
    width: 400px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    font-size:1rem; 
    padding: 20px;
    color: black
}

.media-iframe {
    width: 100%;
    height: 100%;
}

#update-section {
    position: fixed;
}

.letter {
    padding: 40px;
    width: 45vw;
    position: fixed;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#footer p {
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 30px;
    margin: 0;
    color: #1b53ee;
}