* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    max-height: auto;
    height: 100%;
}

img { 
    width: 100%;
    max-height: 100%;
}

h1 {
    margin: 0;
}

iframe {
    border: 0;
}

canvas {
    width: 100vw;
    height: 100%;
    position:absolute;
    pointer-events: none;
    
  }

a:visited {
    color:inherit
}

.header {
    width: 100vw;
    padding: 20px;
    position: sticky;
    top: 10px;
}

.header-title {
    display: inline-block;
}

.header-title h1 {
    background-color: yellow;
    padding: 15px;
    border-radius: 30px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3))
}

.other-links {
    float: right;
}

.other-links ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.other-links li {
    display: inline-block;
    background-color: yellow;
    border-radius: 30px;
    padding: 15px;
    color: black;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    font-size: 20px;
    margin-left: 10px;
}


#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 100vw;
    padding: 20px;
}

.block {
    
}

.text {
    border: dotted 2px blue;
    border-radius: 100%;
    padding: 20px;
    margin: 0;
}

.link {
    text-decoration: red underline;
    font-size:1rem;
    border:solid 2px red;
    padding: 20px;
    color: blue
}

.image {
    border: 1px solid blue
}

.media-iframe {
    width: 100%;
    height: 100%;
}